<header id="header">
  <a href="{{ .Site.BaseURL }}">

    <picture>
      {{ with resources.Get "logo.png" }}
        {{ with .Process "webp" }}
          <source
              srcset="{{ .RelPermalink }}"
              media="(min-width: 768px)"
              />
        {{ end }}
      {{ end }}

      {{ with resources.Get "logo.png" }}
        {{ with .Resize "128x webp" }}
          <img id="logo" src="{{ .RelPermalink }}" alt="logo">
        {{ end }}
      {{ end }}
    </picture>

    <div id="title">
      <h1>{{ .Site.Title }}</h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</header>
