$color-background: #fafafa;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: lighten($color-meta, 10%);
$color-meta-lighten: lighten($color-meta, 20%);
$color-meta-darken: darken($color-meta, 20%);
$color-link: rgba(86, 124, 119, .4);
$color-text: #22272a;
$color-accent-1: #cc2a41;
$color-accent-2: rgba(86, 124, 119, .8);
$color-accent-3: #666;
$color-quote: #cc2a41;

[data-theme="classic"] {
  --color-background: #{$color-background};
  --color-footer-mobile-1: #{$color-footer-mobile-1};
  --color-footer-mobile-2: #{$color-footer-mobile-2};
  --color-background-code: #{$color-background-code};
  --color-border: #{$color-border};
  --color-meta: #{$color-meta};
  --color-meta-code: #{$color-meta-code};
  --color-meta-lighten: #{$color-meta-lighten};
  --color-meta-darken: #{$color-meta-darken};
  --color-link: #{$color-link};
  --color-text: #{$color-text};
  --color-accent-3: #{$color-accent-3};
  --color-accent-2: #{$color-accent-2};
  --color-accent-1: #{$color-accent-1};
  --color-quote: #{$color-quote};
}
